@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Yellowtail&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  font-size: #f7eff3;
  overflow-x: hidden;
}

html {
  font-size: 12px;
  font-family: 'Quicksand', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Yellowtail', cursive;
}